* {
  box-sizing: border-box; }

body .start-1, body .start-2 {
  background: #e99002;
  font-weight: 900;
  color: white;
  line-height: 3.6em;
  width: 200px;
  display: block;
  border: 2px solid white;
  border-radius: 12px;
  text-decoration: none;
  font-size: 20px; }

body .title-1, body .title-2 {
  text-align: center;
  line-height: 3em; }

body .nav-ul-1, body .nav-ul-2 {
  display: flex;
  margin: 0;
  padding: 0;
  width: 600px; }

body .navbar, body .navbar2 {
  display: flex;
  margin: 0 auto;
  justify-content: space-between; }

body {
  margin: 0;
  padding: 0;
  font-family: verdana, sans-sherif; }
  body .greynav {
    background-color: rgba(0, 0, 0, 0.87); }
  body .navbar {
    max-width: 1140px; }
  body .nav-ul-1 {
    justify-content: space-around; }
  body .navbar a {
    color: white;
    display: block;
    text-decoration: none; }
  body .row {
    padding: 20px; }
  body .blue {
    background-color: #1E93CC;
    color: white; }
  body .blue header {
    max-width: 1140px;
    margin: 0 auto;
    display: flex; }
  body .thumb {
    display: flex;
    justify-content: space-between;
    font-size: 20px; }
  body .present {
    text-align: center;
    align-content: center;
    flex-flow: row wrap; }
  body h1 {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif; }
  body .start-1 {
    align-content: center;
    margin: 0 auto; }
  body .title-1 {
    background: #ccc;
    margin: 0;
    color: #222; }
  body .text1 {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  body .text {
    width: calc(50% - 40px);
    margin: 0 10px; }
  body .title-2 {
    margin: 0;
    color: gray; }
  body .content-grey {
    background-color: #eee; }
  body .partners {
    display: flex;
    max-width: 1140px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center; }
  body .partner-lien {
    flex-flow: row wrap;
    padding: 5px; }
  body .logo {
    display: flex;
    justify-content: center;
    width: 1140px;
    margin: 0 auto 60px auto;
    padding: 30px;
    display: flex;
    flex-flow: row wrap; }
  body .info {
    background: #165882;
    font-size: 1.2em;
    font-weight: 900;
    color: #fff;
    line-height: 3.6em;
    width: 200px;
    display: block;
    text-align: center;
    border: 2px solid white;
    border-radius: 12px;
    font-size: 17px;
    text-decoration: none; }
  body .start-2 {
    text-align: center; }
  body .list_nav {
    list-style: none;
    margin: auto; }
  body .navbar2 {
    width: 100%; }
  body .nav-ul-2 {
    justify-content: space-between; }
  body .navbar2 a {
    color: white;
    display: block;
    text-decoration: none; }
